* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px solid black;
  height: 50%;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 0px 10px;
}
.navbar input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
}

.navbar a:hover {
  background-color: #ececec;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header img {
  width: 33%;
}

.header h2,
p {
  margin: 20px 0px;
}
.header h2 {
  font-size: 30px;
}
.login-section input {
  border: none;
  border-bottom: 1px solid black;
  padding: 20px 10px 5px 10px;
  box-sizing: border-box;
  width: 100%;
}
.login button {
  background-color: #a5682a;
  color: white;
  padding: 7px 12px;

  border: none;
  border-radius: 5px;
}
.login a {
  text-decoration: none;
  color: #a5682a;
  font-size: small;
  font-weight: lighter;
}
.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.login a {
  margin-top: 10px;
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  font-size: 15px;
}
.footer a {
  display: block;
  text-decoration: none;
  color: white;
}
.footer div h5,
a {
  margin-bottom: 10px;
}

.footer h4 {
  padding-bottom: 15px;
  font-size: 20px;
}

.subscribe p {
  font-size: 12px;
  font-weight: 200;
}
.subscribe a {
  font-size: 15px;
}
.subscribe input {
  background-color: black;
  color: white;
  border: white 2px solid;
  padding: 5px 10px;
  border-radius: 5px;
}
.login-register {
  display: flex;
}
.login-register a,
h3 {
  padding-right: 5px;
}

.download-data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;
}
.download h5,
.subscribe p {
  color: darkgray;
}

.download-data a {
  margin-bottom: 0;
}
